
.container2 {

  padding-top: 3%;
  color: black;
  text-align: center;
  padding-bottom: 1%;
}

#contain2 {

 
  padding-top: 3%;
  color: black;
  text-align: center;
  padding-bottom: 1%;
}
iframe {

  width: 90%;
  height: 350px;
  
  }

 
.container2 {

  padding-top: 3%;
  color: black;
  text-align: center;
  padding-bottom: 1%;
}

#contain2 {

 
  padding-top: 3%;
  color: black;
  text-align: center;
  padding-bottom: 1%;
}


